<head>
    <style>
       .container {
          display: grid;
          grid-template-columns: auto auto;
          padding: 20px;
       }
       .ele {
          background-color: rgb(255, 0, 200);
          border: 2lpx solid gray;
          padding: 25px;
          font-size: 20px;
          text-align: center;
       }
    </style>
 </head>

<body bgcolor="yellow">
  <h2>Employeedetails</h2>
<table style="width:85%">
  <thead>
    <tr>
      <th>Id</th>
      <th>DOJ</th>
      <th>NAME</th>
      <th>EXPERIENCE</th>
    </tr>
  </thead>

  <tbody>
      <tr *ngFor="let emp of employeedetail"  appEmpbackcolor  emp= '{{emp.experience}}' > 
          <th>{{emp.id }}</th>
          <th>{{emp.doj | date}}</th>
          <th>{{emp.name}}</th> 
          <th>{{emp.experience}}</th>
      </tr>
  </tbody> 
</table>

